<!doctype html>
<html lang="en">
<head>
    <%- include('include/head') -%>
    <title>Trang chủ</title>
    <script src="<%= baseURL %>/js/chat.js"></script>
    <script src="<%= baseURL %>/js/index.js"></script>
</head>
<body>
    <%- include('include/header') -%>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2 pt-4">
                <div class="title bg-primary p-2" style="border-radius: 10px;">
                    <h5>Category 1</h5>
                </div>
                <div class="body mt-2">
                    <% for(i = 0; i < 5; ++i) { %>
                        <div class="card p-1" style="border-radius: 10px;">
                            <div class="row" style="display: flex; align-items: center;">
                                <div class="col-md-1">
                                    <img src="<%= baseURL %>/images/icon.png" width="100%">
                                </div>
                                <div class="col-md-3">
                                    <h6>Thông báo <%= i %></h6>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="p-0 m-0">Chủ đề</p>
                                            <p class="p-0 m-0"><%= i %></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="p-0 m-0">Trả lời</p>
                                            <p class="p-0 m-0"><%= i %></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row" style="display: flex; align-items: center;">
                                        <div class="col-md-1 p-0 m-0">
                                            <img src="<%= baseURL %>/images/icon.png" width="100%">
                                        </div>
                                        <div class="col-md-7">
                                            <p>Đánh giá iphone 11 xsmas pro vip</p>
                                        </div>
                                        <div class="col-md-2">
                                            <span>NguyenKimLong</span>
                                        </div>
                                        <div class="col-md-2">
                                            <span>22/11/2000</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('include/footer') -%>
</body>
</html>